.home {
    background-color: #123F87;
}
.home-item {
    width: 10%;
}
.home-info {
    width: 55%;
    padding-left: 10rem;
}
.my-account::first-letter {
    text-transform: capitalize;
}

.mazadat-content {
    position: relative;
    margin-top: 4rem;
}
.mazadat {
    position: absolute;
    left: 5px;
    top: 15px;
}
.search {
    position: relative;
    left: 195px;
}
.search input {
    width: 570px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 15px;
    padding-left: 30px;
}
.search input:focus {
    outline: 0px;
}
.search-icon {
    top: 20px;
    left: 10px;
}
.btn-cart {
    background-color: #60A5CA;
    color: white;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    outline: none;
    width: 150px;
    margin-left: 1rem;
}

.mazadat-list {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    color: white;
}

.mazadat-list li {
    display: inline-block;
    margin-right: 2rem;
    text-transform: capitalize;
}

.mazadat-list li span {
    margin-left: 5px;
}

.counter {
    background-color: #0078B1;
    display: inline-block;
    padding: 15px;
    color: #fff;
}